/* Fonts */
@font-face {
    font-family: 'Rubik';
    src: url('../public/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

/* Root */
:root {
    /* Colors */
    /* --bg-main: darkolivegreen;
    --bg-darker: rgb(78, 104, 49); */
    /* --bg-darker: rgb(56, 73, 39); */
    /* --bg-main: #366839;
    --bg-darker: #21512B; */

    /* --bg-main: #406836; */
    /* --bg-darker: #1f4928; */
    --bg-main: #365f35;
    --bg-darker: #173d2b;
    --bg-lighter: #629165;

    /* BG Complementary */
    --bg-comp: rgb(14, 72, 126);
    --bg-comp-light: rgb(19, 83, 143);
    --bg-comp-lighter: rgb(48, 128, 202);

    /* Text */
    --text: white;
    --secondary-text: rgb(220, 224, 230);
    --link: #7ec1ff;

    --accent-blue: #508ddc;
    --accent-blue-light: #85baff;
    --warm-shadow: rgb(65, 26, 0);

    /* Cards */
    --red: #c83636;
    --yellow: #eec719;
    --green: #20860e;
    --blue: #166aca;
    --black: #000000;

    /* Cards (Extra) */
    --purple: #7143c7;
    --orange: #dd7616;
    --cyan: #00bbab;

    /* Misc */
    --container-width: 640px;
    --shadow-color: #181854;
    --shadow-distance: 6px;
    --shadow-border: 1px;
}

/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    color: var(--text);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 450;

    /* The transform fixes chrome lag with background-attachment: fixed. No idea why */
    /* background-attachment: fixed; */
}
#main_background {
    position: fixed;
    inset: 0;
    z-index: -1;

    background-color: var(--bg-main);
    background: radial-gradient(closest-corner, var(--bg-main) 60%, var(--bg-darker) 100%);
    background-size: 100vw 100vh;
}

a {
    color: var(--link);
}
a:hover,
a:focus-visible {
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 20pt;
    margin-bottom: 12px;
    --shadow-color: rgba(0, 0, 0, 0.5);
}
.fancy_title {
    position: relative;
}
.fancy_title > span {
    background-color: #406836;
    padding: 3px 12px;
    border-radius: 5px;
}
.fancy_title::before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0.5lh;
    z-index: -1;

    background-color: var(--bg-lighter);
    height: 3px;
    border-radius: 50px;
}
h2 {
    font-size: 30pt;
    /* border-bottom: 5px solid var(--text); */
}
h3 {
    font-size: 20pt;
}
h4 {
    font-size: 15pt;
}
h5 {
    font-size: 13.5pt;
    margin-bottom: 6px;
}
h6 {
    font-size: 11pt;
}
img {
    -webkit-user-drag: none;
}
hr {
    --color: var(--bg-comp-lighter);

    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--color);
}

.secondary_text {
    color: var(--secondary-text);
}
.small {
    font-size: 12pt;
    color: var(--secondary-text);
    margin-left: 6px;
}

*[data-title] {
    position: relative;
}
*[data-title]::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    /* z-index: 1; */

    background-color: white;
    color: black;
    border: 3px solid var(--warm-shadow);
    padding: 9px 18px;
    border-radius: 9px;
    font-size: 11pt;
    font-weight: 450;

    opacity: 0;
    /* transform: translateX(-50%) translateY(2px); */
    transform: translate(-50%, 2px);
    pointer-events: none;
    transition: 0.15s ease;
}
*[data-title]:hover::after,
*[data-title]:focus-visible::after {
    opacity: 1;
    transform: translateX(-50%);
    /* transform: none; */
}


/* Shorthand */
.flex { display: flex; }
.flex_important { display: flex !important; }
.flex_center_vertically { align-items: center; }

.underline {
    border-bottom: 5px solid white;
}
.center { text-align: center; }
.fullwidth { width: 100%; }
.cursor_pointer { cursor: pointer; }
.pointer_events_none { pointer-events: none; }
.pointer_events_all { pointer-events: all; }
.float_right { float: right; }
.no_margin { margin: 0; }

/* Small */
.small_text {
    font-size: 20pt !important;
}

/* Container */
.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 32px 20px 0;
}
.cols_container {
    display: flex;
    gap: 30px;
}
.cols_container > .col {
    width: 100%;
}
.gap_12px {
    gap: 12px;
}
section {
    margin-bottom: 36px;
}

.border_shadowed,
.hover_border_shadowed:hover,
.hover_border_shadowed:focus-visible {
    filter:
        drop-shadow(-1px -1px var(--shadow-color))
        drop-shadow(-1px  1px var(--shadow-color))
        drop-shadow( 1px -1px var(--shadow-color))
        drop-shadow( 0px  -2px var(--shadow-color))
        drop-shadow( 0px  2px var(--shadow-color))
        drop-shadow(var(--shadow-distance) var(--shadow-distance) var(--shadow-color));
}
.shadow_distance_0 {
    --shadow-distance: 2px !important;
}

/* Logo */
#main_logo {
    max-width: 400px;
    width: 100%;
    padding: 12px;
    margin: 0 auto;
}

/* Inputs */
input, button {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

input.input_primary {
    background-color: var(--bg-comp);
    color: white;

    width: 100%;
    padding: 6px 9px;
    border: 1px solid var(--bg-comp-lighter);
    border-radius: 5px;
}
input.input_primary::placeholder { color: var(--bg-comp-lighter); }
input.input_primary:focus {
    background-color: var(--bg-comp-light);
    border-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    outline: none;
}

/* Button */
button,
.button {
    cursor: pointer;

    background-color: transparent;
    border: none;
    color: var(--text);
    text-align: left;
}
button:hover,
button:focus-visible,
.button:hover,
.button:focus-visible {
    z-index: 1;
}
a.button {
    text-decoration: none;
}

.button_primary {
    --shadow-distance: 3px;

    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 14pt;
    font-weight: 600;

    width: 100%;
    padding: 11px 24px;
    border: 3px solid white;
    border-radius: 6px;

    color: white;
    background-color: var(--accent-blue);

    transition: filter 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}
.button_primary[disabled] {
    /* opacity: 0.5; */
    filter: brightness(70%) contrast(90%);
    /* cursor: not-allowed; */
    cursor: unset;
}
.button_primary:not([disabled]):not(.no_interact):hover,
.button_primary:not([disabled]):not(.no_interact):focus-visible {
    --shadow-distance: 5px;
    transform: translate(-1px, -1px);
    background-color: rgb(243, 251, 255);
}
.button_primary:not([disabled]):not(.no_interact):hover .parent_invert,
.button_primary:not([disabled]):not(.no_interact):focus-visible .parent_invert {
    filter: invert();
}
.button_primary > * {
    --shadow-color: rgba(0, 0, 0, 0.5);
    transition: filter 0.2s ease;
}
.button_primary > img {
    width: 18px;
}
/* .button_primary > span {
    --shadow-distance: 2px;
} */

/* Secondary */
.button_secondary {
    /* display: unset; */
    justify-content: center;
    font-size: 12pt;
    padding: 6px 24px;
    border-width: 2px;
}
.button_secondary:hover,
.button_secondary:focus-visible {
    color: black;
}
.flex_left { justify-content: start; }

.button_mini {
    max-width: max-content;
}
.button_micro {
    width: unset;
    padding: 6px 12px;
}

/* Colors */
.button_transparent { background-color: transparent; }
.button_green { background-color: rgb(155, 202, 79); }
.button_mainbg { background-color: var(--bg-main); }
.button_lightbg { background-color: var(--bg-lighter); }
.button_comp { background-color: var(--bg-comp-light); }

.button_border_bg_lighter { border-color: var(--bg-lighter); }


/* Toggle switch */
.toggle {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 32px;
    cursor: pointer;
    user-select: none;
}
.toggle[aria-disabled="true"] {
    opacity: 0.7;
    cursor: unset;
}
.toggle:has(input:focus-visible) { outline: 2px solid white; }
.toggle > input { opacity:0; width:0; height:0; }
.toggle > span {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: var(--bg-main);
    border: 2px solid transparent;
    transition: 0.1s ease-out, border-color 0.6s ease;
    border-radius: 5px;

    --shadow-color: transparent;
}
.toggle > span::before {
    position: absolute;
    content: "";
    z-index: 2;
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: var(--secondary-text);
    transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 5px;
}
.toggle:not([aria-disabled="true"]):active > span::before {
    width: 28px;
}
.toggle:not([aria-disabled="true"]):active > input:checked + span:before { transform: translateX(15px); }
.toggle > input:checked + span {
    border-color: var(--accent-blue-light);
    background-color: var(--accent-blue);
}
.toggle > input:checked + span:before {
    transform: translateX(21px);
    background-color: var(--text);
}


/* Home */
.lobbies_container {
    background-color: var(--bg-darker);
    margin-top: 6px;
    padding: 9px;
    border-radius: 10px;

    height: 400px;
    overflow-y: auto;
}
.lobbies_header {
    padding: 0 6px 12px;
}
.lobbies_list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.lobby {
    background-color: var(--bg-main);
    border: 1px solid transparent;
    border-radius: 5px;

    padding: 6px 9px;

    cursor: pointer;
    transition: border-color 0.4s ease, transform 0.15s ease;
}
.lobby:hover,
.lobby:focus-visible {
    border-color: var(--bg-lighter);
    --shadow-color: rgba(0, 0, 0, 0.3);
    transform: translate(-1px, -1px);
    /* outline: none; */

    transition: border-color 0.1s ease;
}



/* Lobby */
#lobby, #config {
    animation: lobby_in 1s cubic-bezier(0.075, 0.82, 0.165, 1) backwards;
}
.player_count {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 100px;
    padding: 1px 9px;
}
.player_count.full {
    background-color: white;
    color: black;
}
#config {
    animation-delay: 0.1s;
}
@keyframes lobby_in {
    from {
        transform: translateY(24px);
        opacity: 0;
    }
}

#config {
    padding-bottom: 200px;
}
#config .item {
    --bg-comp: var(--bg-lighter);
    --shadow-color: rgba(0, 0, 0, 0.5);

    background-color: var(--bg-lighter);
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px 24px 5px 80px;
    margin-top: 24px;

    position: relative;
    cursor: pointer;
}
#config .item[aria-disabled="true"] {
    opacity: 0.5;
    color: var(--secondary-text);
    pointer-events: none;
}

#config .item label {
    cursor: pointer;
}
#config .item img {
    position: absolute;
    top: -14px;
    left: 24px;

    width: 40px;
}
#config .item h4 {
    margin-bottom: 9px;
    --shadow-distance: 4px;
}
#config .item .inner {
    display: flex;
    align-items: center;
}
#config .item .desc {
    color: var(--secondary-text);
    font-size: 11pt;
    margin-left: -56px;
}
#config .item .decorator {
    position: absolute;
    inset: 0; top: unset;
    z-index: -1;

    height: 45%;

    background-color: #4d7e51;
}

.input_container {
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--bg-main);
    border: 6px solid var(--bg-lighter);

    display: flex;
    gap: 2px;
}
.input_container:has(input[type="checkbox"]) { background-color: var(--bg-lighter); }

#config .item input,
#config .item button,
#config .item select {
    width: 100%;
    max-width: 36px;

    font-size: 14pt;
    font-weight: 600;
    text-align: center;

    background-color: var(--bg-lighter);
    color: white;
    border: none;
}
#config .item button { min-width: 36px; }
#config .item input {
    min-width: 64px;
}
#config .item select { font-size: 13pt; text-align: left; max-width: 140px; }

/* REMOVE INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
#config .item input::-webkit-outer-spin-button,
#config .item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#config .item input[type=number] {
  -moz-appearance: textfield;
}

.margin_left_auto { margin-left: auto; }

button.share_button {
    font-size: 14pt;
    font-weight: 550;
    text-align: left;

    width: 100%;
    padding: 2px 9px;
    margin-top: 6px;

    background-color: var(--bg-main);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}



/* Game */
#game {
    position: absolute;
    inset: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* Loader */
.loader_spin { animation: loader_spin 1.5s infinite linear; }
@keyframes loader_spin {
    100% { transform: rotate(360deg); }
}



/* Pile */
#pile {
    position: relative;
    height: 168px;
}
/* #pile > .card {
    position: absolute;
} */



/* Players */
.players_col {
    max-width: 300px;
}
.player {
    /* position: absolute; */

    max-width: 100vw;
}
.player > .inner {
    display: flex;
    gap: 6px;

    /* position: absolute; */

    width: unset !important;
    max-width: 100%;
    overflow-x: auto;

    padding: 8px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}
.player h3 {
    margin-bottom: 6px;
}
.player .avatar {
    transform-origin: left center;
    transform: translateY(-5px) scale(1.6);
    z-index: -1;
}

/* Compact all cards except current player's */
.player:not(.position_0) .card:not(:first-of-type) {
    margin-left: -50px;
}

.position_0 {
    position: absolute;
    align-self: flex-end;
    transform-origin: bottom center;
}
.position_1 {
    position: absolute;
    left: 0;
    max-width: 95vh;

    transform-origin: bottom left;
    transform: rotate(90deg) scale(0.8) translateX(-80%);
}
.position_2 {
    position: absolute;
    align-self: flex-start;

    transform-origin: top center;
    transform: scale(0.8);
}
.position_3 {
    position: absolute;
    right: 0;
    max-width: 95vh;

    transform-origin: bottom right;
    transform: rotate(-90deg) scale(0.8) translateX(80%);
}


#game_center > .upper,
#game_center > .lower {
    display: flex;
    gap: 24px;
}
#game_center > .lower {
    padding-top: 12px;
    gap: 9px;
}

#game_center .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    --shadow-color: var(--warm-shadow);
    --shadow-distance: 6px;
}
#game_center .middle .turn {
    margin-top: 6px;
    font-weight: 700;
    font-size: 24pt;
    transition: 0.5s scale ease;
}

#arrow {
    --fill: rgb(255, 198, 9);
    font-size: 48pt;

    /* perspective-origin: 800px; */
    transform: rotate(90deg);
    transition: transform 0.6s ease;
}
#arrow > svg > path {
    fill: var(--fill);
}

/* My turn */
.middle[data-my-turn="true"] #arrow {
    --fill: rgb(255, 235, 168);
    animation: my_turn 0.6s ease forwards, my_turn_pulse 1.5s ease infinite alternate;
}
.middle[data-my-turn="true"] .turn {
    animation: turn_shake 1s ease forwards;
}
@keyframes turn_shake {
    0% { scale: 1.5; rotate: 12deg; }
    25% { rotate: -12deg; }
    50% { rotate: 6deg; }
    80% { rotate: -4deg; }
    100% { rotate: 0deg; }
}
@keyframes my_turn {
    from { scale: 1.7; }
}
@keyframes my_turn_pulse {
    0% { opacity: 0.7; }
    100% { opacity: 1; }
}

#rotation {
    text-align: center;
    font-size: 32pt;
    font-weight: 900;
    color: white;

    transform-origin: 50% 55%;

    transition: transform 1s ease;
}


/* Stack */
.card_stack {
    position: absolute;
    z-index: -1;

    --bg-main: rgb(179, 195, 204);
    --bg-darker: rgb(146, 165, 189);
    background: repeating-linear-gradient(
        0deg,
        var(--bg-main),
        var(--bg-main) 2px,
        var(--bg-darker) 2px,
        var(--bg-darker) 4px
        );
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

    width: 110px;
    margin-top: -12px;
    border-radius: 0 0 12px 12px;
}
.card:has(+ .card_stack) {
    box-shadow: none;
}

/* Card */
.card {
    --card-color: gray;
    --border-color: white;

    font-size: 110px; /* Determines card width */
    width: 1em;
    aspect-ratio: 110 / 168;
    /* Other values will be: percentOfWidth * 1.1 */

    display: block;
    position: relative;
    overflow: hidden;
    flex: none;

    background-color: var(--card-color);
    border: 0.044em solid var(--border-color); /* 4px */
    border-radius: 0.132em; /* 12px */
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.8);

    user-select: none;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.card.empty {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
}
.card.xrayed {
    --border-color: rgb(0, 59, 50);
    filter: brightness(50%) contrast(85%);
    /* animation: xray 2s ease-in infinite alternate; */
    transform: scale(0.95, 0.95);
}
/* @keyframes xray {
    0% { border-color: rgb(76, 216, 95); }
    100% { border-color: rgb(189, 255, 187); }
} */
.card.clickable { cursor: pointer; }
.card.clickable:hover,
.card.clickable:focus-visible {
    transform: translateY(-5px) scale(1.01, 1.01) !important;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.4) !important;
}
.card > .oval {
    --height: 70%;
    position: absolute;

    background-color: var(--card-color);
    border-radius: 100%;
    transform: skew(-25deg);
    border: 0.06em solid var(--border-color); /* 6px */

    top: calc(calc(100% - var(--height)) / 2);
    height: var(--height);
    width: 100%;
    overflow: hidden;
}
.card.no_decorator > .oval {
    background-color: white;
}
.card > .symbol {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card > .symbol > * {
    transform: translateY(-3px);

    font-size: 0.575em;
    width: 0.8em; /* ~50px */

    filter:
        drop-shadow(0.09em 0.09em black)
        drop-shadow(-0.01em -0.01em black)
        drop-shadow(-0.01em  0.01em black)
        drop-shadow( 0.01em -0.01em black)
        drop-shadow( 0px  -0.03em black)
        drop-shadow( 0px  0.03em black);

    color: white;
}
.card > .symbol > p {
    width: unset;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* 2 symbols */
.card > .symbol[data-amount="2"] > *:nth-of-type(1) {
    transform: translate(0.6em, -0.2em) scale(0.85);
}
.card > .symbol[data-amount="2"] > *:nth-of-type(2) {
    transform: translate(-0.625em, 0.2em) scale(0.85);
}


/* Back logo */
.card > .symbol > p.small_text {
    font-size: 0.32em !important;
}

/* Corner symbols */
.card > .symbol.corner_symbol {
    top: 24px;
    left: 17px;
}
.card > .symbol.corner_symbol > img {
    width: 18px;
}
.card > .symbol.corner_symbol > p {
    font-size: 17pt;
}
.card > .symbol.bottom_corner_symbol {
    top: unset;
    left: unset;
    bottom: 20px;
    right: 18px;
}

/* Wild card */
.card.style_wild > .oval > .oval_inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.card.style_wild > .oval > .oval_inner > .gradient {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(255,255,255,0.1) 15%, rgba(0, 0, 0, 0.4) 110%);
    mix-blend-mode: hard-light;
}
.card.style_wild > .oval > .oval_inner > .flex > div {
    width: 50%;
    height: 0.45em;
    background-color: rgb(255, 181, 181);
    /* border: 2px solid rgb(73, 140, 241); */
}

.animation_container {
    overflow: hidden;
    position: fixed;
    inset: 0;
    pointer-events: none;
}
.card.animated {
    position: absolute;
    animation: card_animate 0.5s ease forwards;
    /* animation: card_animate 2s ease forwards; */
}
@keyframes card_animate {
    0% {
        /* scale: 1; */
        transform: translate(var(--start-x), var(--start-y));
    }
    /* 50% {
        scale: 1.2;
    } */
    80% { opacity: 1; }
    100% {
        /* scale: 1; */
        transform: translate(var(--end-x), var(--end-y));
        opacity: 0;
    }
}

/* Colors */
.red { background-color: var(--red) !important; }
.yellow { background-color: var(--yellow) !important; }
.green { background-color: var(--green) !important; }
.blue { background-color: var(--blue) !important; }

/* Bonus colors */
.purple { background-color: var(--purple) !important; }
.orange { background-color: var(--orange) !important; }
.cyan { background-color: var(--cyan) !important; }


/* Card back */
.card.back {
    --card-color: black;
}
.card.back > .oval {
    background-color: var(--red);
}
.card.back p {
    background: -webkit-linear-gradient(-20deg, rgb(255, 252, 78), rgb(255, 147, 6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 26pt !important;
    transform: translateY(-1px) rotate(-8deg);
}


/* Toasts */
#toasts {
    position: fixed;
    /* bottom: 24px;
    right: 24px; */
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 9px;

    pointer-events: none;
}
.toast {
    width: 100%;

    background-color: rgb(35, 59, 82);
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    overflow: hidden;
    
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.6);
}
.toast_timed {
    animation: toast-anim 6s forwards ease;
}
@keyframes toast-anim {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }
    5% {
        opacity: 1;
        transform: none;
    }
    95% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateY(-3px);
    }
}

.toast > .inner {
    padding: 18px 24px;
}
.toast h3 {
    font-weight: 800;
    font-size: 13.5pt;
}
.toast p {
    margin-top: 12px;
}
/* Time bar */
.toast .toast_time_bar {
    width: 100%;
    height: 3px;
    background-color: white;
    animation: toast_time_bar 6s forwards linear;
}
@keyframes toast_time_bar {
    to { width: 0; }
}

/* Choose color */
.choose_color {
    position: fixed;
    bottom: 24px;
    right: 24px;

    width: 100%;
    max-width: 240px;
    padding: 12px 18px;
    
    background-color: var(--bg-comp);
    border: 1px solid var(--bg-comp-lighter);
    border-radius: 5px;
}
.choose_color_container {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    transform: skewX(-3deg) skewY(-1.5deg);

    display: flex;
    flex-wrap: wrap;
}
.choose_color_container > div {
    width: 50%;
    height: 50%;
    border: 2px solid white;

    transition: box-shadow 0.15s ease, transform 0.15s ease, border-width 0.15s ease, filter 0.25s ease;
}
/* .choose_color_container:hover > div,
.choose_color_container:focus-within > div {
    filter: brightness(90%) contrast(90%);
} */
.choose_color_container > div:hover,
.choose_color_container > div:focus-visible {
    transform: scale(1.1);
    border-width: 5px;
    /* filter: none; */
    /* box-shadow: 0 0 9px black, inset 0 0 12px rgba(0, 0, 0, 0.5); */

    cursor: pointer;
}
.choose_color_container > .red { transform-origin: bottom right; }
.choose_color_container > .yellow { transform-origin: bottom left; }
.choose_color_container > .green { transform-origin: top right; }
.choose_color_container > .blue { transform-origin: top left; }






/* Chat (temporary) */
#chat {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;

    background-color: var(--bg-comp);
    border: 1px solid var(--bg-comp-lighter);
    padding: 12px 18px 18px 28px;
    border-radius: 0 6px 6px 0;
    border-left: none;

    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 600px;

    transform: translateX(calc(-100% - 18px));
    transition: transform 0.35s cubic-bezier(.42,0,.17,1.17);
}
#chat hr { --color: var(--bg-comp-lighter); }
#chat .chat_unavailable {
    text-align: center;
    padding-top: 24px;
}
#chat .close {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 18pt;
    padding: 2px 10px
}
.open > #chat {
    transform: translateX(-10px);
}
.open > #chat_button {
    transform: translateX(48px) rotate(45deg);
    opacity: 0;
    pointer-events: none;
}
.chat_messages {
    max-height: min(calc(100vh - 174px), 430px);
    padding-top: 18px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2px;
}
.chat_messages > p {
    border-top: 1px solid gray;
    padding: 2px 0;
}

/* Chat bar */
#chat .chat_bottom {
    position: absolute;
    left: 28px;
    bottom: 18px;
    right: 18px;
    display: flex;
    gap: 6px;

    background-color: var(--bg-comp);
    border: 1px solid var(--bg-comp-lighter);
    padding: 6px 9px;

    border-radius: 5px;
}
#chat .chat_bottom:focus-within {
    background-color: var(var(--bg-comp-light));
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#chat .chat_bottom[aria-disabled="true"] {
    display: none;
}

#chat .chat_bottom input {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding-left: 3px;
    font-size: 11pt;
    /* outline: 1px solid red; */

    width: 100%;
}
#chat .chat_bottom input:focus {
    outline: none;
}
#chat .chat_bottom input::placeholder { color: var(--bg-comp-lighter); }
#chat .chat_bottom > button {
    /* outline: 1px solid greenyellow; */
    width: 48px;
}
#chat .chat_bottom > button > svg {
    width: 18px;
    vertical-align: middle;
}
#chat .chat_bottom > button > svg > path {
    transition: 0.1s fill ease;
    fill: var(--bg-comp-lighter);
}
#chat .chat_bottom > button.message_ready > svg > path {
    fill: var(--text);
}

#chat_button {
    --shadow-distance: 4px;

    position: fixed;
    bottom: 48px;
    left: 24px;
    z-index: 2;

    background-color: var(--bg-comp);
    padding: 12px;
    border: 2px solid var(--bg-comp-lighter);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.1s filter ease, opacity 0.3s ease, transform 0.3s ease;
}
#chat_button:hover,
#chat_button:focus-visible {
    --shadow-distance: 6px;
    transform: translate(-1px, -1px);
    /* --shadow-color: var(--bg-comp-lighter);
    border-color: white; */
}
#chat_button > img {
    height: 32px;
    width: 32px;
    transform: translateY(3px);
    transition: transform 0.3s cubic-bezier(.34,1.19,.46,1.62);
}
#chat_button > span {
    position: absolute;
    font-size: 16pt;
    font-weight: 700;
    color: var(--bg-comp);
    transition: transform 0.3s cubic-bezier(.34,1.19,.46,1.62);
}
#chat_button:hover > img,
#chat_button:focus-visible > img {
    transform: translateY(-1px) rotate(-12deg);
}
#chat_button:hover > span,
#chat_button:focus-visible > span {
    transform: translateY(-4px) rotate(-12deg);
}
.bubble {
    position: absolute;
    left: 0;
    bottom: calc(100% + 32px);

    text-align: left;
    font-size: 11pt;

    width: max-content;
    max-width: 95vw;
    padding: 6px 12px;

    background-color: white;
    color: black;

    animation: bubble 0.3s ease;
}
@keyframes bubble {
    from {
        transform: translateY(5px) rotate(1deg);
    }
}
.bubble::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 16px;

    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    
    border-top: 12px solid white;
}
.bubble strong {
    padding-right: 9px;
}


/* Profile dialog */
.dialog {
    --bg-comp: rgb(46, 47, 117);
    --bg-comp-light: rgb(59, 61, 143);
    --bg-comp-lighter: rgb(100, 102, 216);

    position: fixed;

    bottom: 24px;
    right: 24px;

    width: 100%;
    max-width: 440px;
    padding: 12px 18px;
    height: max-content;
    max-height: 100vh;
    overflow-y: auto;

    background-color: var(--bg-comp);
    border: 1px solid var(--bg-comp-lighter);
    border-radius: 5px;
}
#profile {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.avatar_list {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.avatar_preview {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border: 2px solid var(--shadow-color);
    border-radius: 5px;
}
.avatar_preview:hover,
.avatar_preview:focus-visible {
    border-color: white;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}
body:has(#profile) .backdrop,
body:has(#win_screen) .backdrop {
    opacity: 1;
    pointer-events: initial;
}

/* Users */
.users_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    text-align: left;

    width: 100%;
    border-radius: 100px;
    position: relative;

    filter: drop-shadow(2px 2px 3px rgba(5, 8, 37, 0.5));
}
.user:hover,
.user:focus-visible {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
    /* backdrop-filter: saturate(150%); */
}
.user .avatar {
    min-width: 36px;
    height: 36px;
    border-radius: 100%;
}
.user > .right {
    max-width: auto;
    flex-shrink: 1;
}
.user .name {
    font-weight: 600;
    font-size: 15pt;
}
.user .name.small_name {
    font-size: 11pt;
}
.user .socketid {
    font-size: 10pt;
    opacity: 0.6;
}
.user > .crown {
    position: absolute;
    top: -14px;
    left: -8px;
    transform: rotate(-22deg);
    font-size: 16pt;
}
.user .tagline {
    width: 100%;
    /* white-space: pre; */
    text-wrap: wrap;
    font-weight: 400;
    color: var(--secondary-text);
}
/* .user .after_name {
    font-size: 11pt;
    color: var(--secondary-text);
    margin-left: 9px;
}
.user.has_tagline .after_name { font-size: 7pt; margin-left: 6px; } */
.user .you {
    width: 12px;
    opacity: 0.8;
    margin-left: 8px;
}
.user.has_tagline .you { margin-left: 5px; }

/* User message clumping */
.user.msg:not(.clump) {
    margin-top: 8px;
}
.msg.clump .name,
.msg.clump .you {
    display: none;
}
.msg.clump .avatar {
    opacity: 0;
    height: 0;
}

.profile_button {
    border-radius: 200px;
}


/* Title User */
h3 > .user {
    filter: none;
}
h3 > .user .name {
    font-size: 20pt;
    font-weight: 700;
}
h3 > .user .avatar {
    height: 28px;
    min-width: 28px;
}



/* Footer */
#footer_main {
    margin-left: auto;

    --shadow-color: rgba(0, 0, 0, 0.3);
}
#footer_main > .inner {
    /* border: 5px solid var(--bg-lighter);
    border-radius: 10px;

    padding: 12px 24px; */
    padding: 6px 12px;

    display: flex;
    flex-direction: column;
    gap: 3px;
}


/* Win screen */
#win_screen {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#win_screen > .inner {
    width: 100%;
    max-width: 600px;
    background-color: #566355a6;
    padding: 12px 24px;
    border-radius: 9px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.35);
    animation: lobby_in 1s cubic-bezier(0.075, 0.82, 0.165, 1) backwards;
}


/* Debug */
.debug_panel {
    position: absolute;
    bottom: 24px; right: 24px;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    padding: 3px 6px;
}
.debug_panel table th {
    text-align: left;
    padding-right: 6px;
}


#connection_lost {
    --warning-red: rgb(175, 52, 68);

    --shadow-color: rgb(87, 19, 28);
    --shadow-distance: 2px;

    position: fixed;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 320px;

    padding: 12px 24px;
    background-color: var(--warning-red);
    border-radius: 6px;
    border: 3px solid rgb(231, 97, 115);
    font-weight: 600;
    font-size: 13pt;
    text-align: center;

    color: white;
}


/* Media queries */
@media only screen and (max-width: 1100px),
            screen and (max-height: 800px) {
    .card {
        font-size: 95px;
    }
    .card_stack { width: 95px; }
}
@media only screen and (max-width: 720px) {
    #game_center {
        flex-direction: column;
        gap: 0;
    }
    .card {
        font-size: 72px;
    }
    .card_stack { width: 72px; }
}
@media only screen and (max-height: 600px) {
    .card {
        font-size: 72px;
    }
    .card_stack { width: 72px; }
}


/* Columns */
@media only screen and (max-width: 640px) {
    .media_flex {
        flex-direction: column;
    }
    .players_col {
        max-width: unset;
    }
    .users_list {
        display: grid;
        column-gap: 6px;
        row-gap: 12px;
        grid-template-columns: auto auto;
    }
    #footer_main {
        margin-left: initial;
        width: 100%;
    }
}
