NODE_ENV="development"
CLIENT_URL="http://localhost:5173"

# SSL
SSL_MODE="false"
PRIVATE_KEY_LOCATION=
CERTIFICATE_LOCATION=

# Debug
KEEP_LOGS=
DISCORD_WEBHOOK_URL=
WEBHOOK_LOG_MODE="uncaughtExceptions"

# Debug panel
DEBUG_ACCESS_KEY=
